AddType application/javascript .js .mjs
AddType text/css .css
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType image/webp .webp
  AddType image/svg+xml .svg
</IfModule>
# Cache static assets 1 year
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
</IfModule>
